flake8==3.5.0
logassert==2
mccabe==0.6.1
nose==1.3.7
nosexcover==1.0.10
pep257==0.7.0
pep8==1.7.0
pycodestyle==2.3.1
pyflakes==1.6.0
pyuca==1.1.2
pyxdg==0.25
rst2html5==1.9.3
setuptools>=5.5
wheel==0.26.0
