Source: fades
Section: python
Priority: extra
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-translations | dh-python,
               python3-packaging,
               python3-all (>= 3.4),
               python3-xdg
Maintainer: Facundo Batista <facundo@taniquetil.com.ar>
Uploaders: Debian Python Modules Team 
           <python-modules-team@lists.alioth.debian.org>
Homepage: https://github.com/PyAr/fades
Standards-Version: 3.9.7
X-Python3-Version: >= 3.4

Package: fades
Architecture: all
Depends: python3-pkg-resources, ${misc:Depends}, ${python3:Depends}
Description: system for automatically handling virtual environments
 fades is a system that automatically handles the virtualenvs in the cases
 normally found when writing scripts and simple programs, and even helps to
 administer big projects.
