Source: fades
Section: python
Priority: extra
Build-Depends: debhelper (>= 9),
 python3 (>= 3.4),
 python-distutils-extra (>= 2.10)
Maintainer: Facundo Batista <facundo@taniquetil.com.ar>
Standards-Version: 3.9.6
XS-Python-Version: >= 3.4

Package: fades
Architecture: all
Depends: ${misc:Depends}, 
 ${python:Depends},
 python3 (>=3.4),
 python3-pkg-resources (>= 0.6.24),
 python3-xdg (>= 0.25),
 python3-setuptools (>= 5.5),
Description: System that automatically handles the 
 virtualenvs in the cases normally found when writing scripts 
 and simple programs, and even helps to administer big projects.
 
